/* line 1, ../sass/main.scss */
body {
  background-color: #439BF5;
}

/* line 5, ../sass/main.scss */
.container {
  padding: 2em 0 2em 0;
}
/* line 9, ../sass/main.scss */
.container svg {
  position: fixed;
  margin: auto;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
}
/* line 21, ../sass/main.scss */
.container .happy {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
}
/* line 30, ../sass/main.scss */
.container .ticket {
  height: 90%;
  max-width: 95%;
  opacity: 0.0;
}
/* line 36, ../sass/main.scss */
.container .path {
  height: 90%;
  max-width: 95%;
}
/* line 42, ../sass/main.scss */
.container .frame {
  height: 40000px;
}
